{% extends 'base.html' %} 
{% load static %} 
{% block style %}
<style>
.big-col {
    width: 300px !important;
  }
.mid-col {
width: 150px !important;
}  
table{
table-layout:fixed;
}
</style>
{% endblock style %}
{% block content %} 
<div style="margin-left: auto;"> 
    <div class="col-lg-12"> 
        <div> 
            <table>
                <tr>
                    <td>
                        <h4 class="title-2 m-b-25">Resampling the Data</h4>
                    </td>
                    <td>
                        <div class="m-b-25">&nbsp;(Note: Restructure data based on target variable frequency.)</div>
                    </td>
                </tr>
            </table>             
        </div>
        <div class="table-responsive table--no-card m-b-40">
            {% for data in dataTypes %}
            <div class="au-card-inner">
                <table id="missingData" class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th class="big-col">Column Value</th> 
                            <th class="mid-col">Value Count</th>
                            <th class="mid-col">Data %</th> 
                        </tr>
                    </thead>  
                    <tbody>
                        {% for key,val in data.freqVal.items %}
                        <tr>
                            <td>
                                {{ key }}
                            </td>
                            <td>
                                {{ val }}
                            </td>
                            <td>
                                <input type="text" id="missingData_{{ key }}" style="border:1px solid black;width: 100px;"/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div> 
    <div class="row" style="display: flex; justify-content: flex-end; margin-right: auto;"> 
    <button type="button" class="btn btn-primary btn-sm"  onclick="getMissingvalues()">Update</button>
    <button  class="btn btn-primary btn-sm" {{isDisabled}}  id="btnNext"  onclick="goNext()" style="margin-left: 10px;" type="button">Next</button>
    </div>
</div>

{% endblock content %}
{%  block script %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'dataTables.min.js' %}"></script>
    <script type='text/javascript' >
        var myTable;
        $(document).ready( function () { 
            $('#liDataV').click(function(){
                $('#sub_sub_menu').hide();
            });
            myTable=$('#missingData').DataTable({
                sDom: 'lrtip',
                "ordering": false,
                scrollY: 300, 
                scroller: true,
                paging:         false,
                info:false, 
            });
    
           /* $('#missingData').on('click', 'td', function() {
                 alert('row clicked');
            }) */
            /*$('#missingData').on('click', 'tr',function (e) { 
                alert(myTable.row( this ).data()[0]);
          
            });*/
            
        } );
    
        function getMissingvalues(){ 
            var updatedData=[]
            myTable.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
                var data = this.data(); // able to fetch the data.
                var row = this.node();
                item = {}
                //item ["column"] = data[0];
                //item ["value"] = $('#missingData_'+data[0]).val();
                if($('#missingData_'+data[0]).val()!=""){
                    item [data[0]] = $('#missingData_'+data[0]).val()/100;
                }
                else{
                    item [data[0]] =1 
                }
                updatedData.push(item); 
            } ); 
            
            //console.log(updatedData)
            $.ajax({
                url: '/ajax/resamplingData/', 
                data:{ dataPerc: JSON.stringify(updatedData)  },
                dataType: 'json',
                success: function (data) {
                  if (data.is_taken) {
                    $('#btnNext').prop('disabled',false)  
                    alert("Updated Successfully.");
                  }
                }
              });
        }

        function goNext(){
            window.location="{% url 'tuneParams' %}"
} 
    </script>
{% endblock script %} 