{% load static %}
{% url 'home' as home %} 
{% url 'missingData' as missingData %} 
{% url 'dataCleaning' as dataCleaning %} 
{% url 'showCatColFreq' as showCatColFreq %} 
{% url 'showSNSChart' as showSNSChart %} 
{% url 'showCatCountPlot' as showCatCountPlot %} 
{% url 'showDistPlot' as showDistPlot %} 
{% url 'showBoxPlot' as showBoxPlot  %} 
{% url 'showPieChart' as showPieChart %}
{% url 'pairwise_correlation' as pairwise_correlation %}
{% url 'vehicleclaim' as vehicleclaim %}
{% url 'scattred3d' as scattred3d %}
{% url 'bubblePlot3d' as bubblePlot3d %}
{% url 'plotinsured_occupations' as plotinsured_occupations %}
{% url 'plotinsoccuvsincstate' as plotinsoccuvsincstate %}
{% url 'plotinsoccuvsincstatestacked' as plotinsoccuvsincstatestacked %}
{% url 'vardistbyfraud' as vardistbyfraud %}
{% url 'vardistbyfraud2' as vardistbyfraud2 %}
{% url 'stripplot' as stripplot %}
{% url 'totalclaim_boxplot' as totalclaim_boxplot %}
<style>
table, td, th {
    border: 0px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
</style>
<link href="{% static 'dataTables.min.css' %}"  rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
     <!-- Fontfaces CSS-->
     <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
 
     <!-- Bootstrap CSS-->
     <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
 
     <!-- Vendor CSS-->
     <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
     <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
 
     <!-- Main CSS-->
     <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
 
 </head>
 
 <body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-file-text"></i>Import Data</a>
                            <!-- <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul> -->
                        </li>
                       
                        <li style="display: none;">
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li style="display: none;">
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li style="display: none;"> 
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a href="{{home}}">
                                <i class="fas fa-file-text"></i>Import data</a>                           
                        </li>
                        <li style="display: block;">
                            <a href="{{missingData}}">
                                <i class="fas fa-search"></i>Missing data</a>
                        </li>
                        <li  class="has-sub">
                            <a class="js-arrow open" href="#">
                                <i class="fas fa-filter"></i>Data cleaning</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{{dataCleaning}}">Drop target variables</a>
                                    </li>
                                    <li>
                                        <a href="{{showCatColFreq}}">Drop variables frequecy wise</a>
                                    </li>  
                                </ul>   
                        </li>
                        <li  class="has-sub">
                            <a class="js-arrow open" href="#" id="liDataV">
                                <i class="fas fa-bar-chart-o"></i>Data Visualization</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{{showSNSChart}}">Data relationship</a>
                                    </li>
                                    <li>
                                        <a href="{{showPieChart}}">Distribution of Frauds</a>
                                    </li>
                                    <li>
                                        <a href="{{showDistPlot}}">Distribution for all the numeric features</a>
                                    </li> 
                                    <li>
                                        <a href="{{showBoxPlot}}">Distribution for all the numeric features(Box plot)</a>
                                    </li> 
                                    <li>
                                        <a href="{{showCatCountPlot}}">Text types histogram</a>
                                    </li> 
                                    <li>
                                        <a href="{{plotinsured_occupations}}">Fraudulence</a>
                                    </li> 
                                    <li>
                                        <a href="{{plotinsoccuvsincstate}}">Ins occu vs Inc State</a>
                                    </li> 
                                    <li>
                                        <a href="{{plotinsoccuvsincstatestacked}}">Ins occu vs Inc State(stacked)</a>
                                    </li> 
                                    <li>
                                        <a href="{{vardistbyfraud}}">Total claim amt vs Fraud Reported</a>
                                    </li> 
                                    <li>
                                        <a href="{{vardistbyfraud2}}">Total claim amt vs insured relationship</a>
                                    </li>
                                    <li>
                                        <a href="{{stripplot}}">Total claim amt vs insured relationship 2</a>
                                    </li>
                                    <li>
                                        <a href="{{totalclaim_boxplot}}">Total claim amt vs insured relationship 3</a>
                                    </li>
                                    <li  class="has-sub">
                                        <a class="js-arrow open" href="#">3D Plots</a>
                                            <ul class="list-unstyled navbar__sub-list js-sub-list" id="sub_sub_menu" style="display: none;"> 
                                                <li>
                                                    <a href="{{pairwise_correlation}}">Pairwise correlation</a>
                                                </li>
                                                <li>
                                                    <a href="{{vehicleclaim}}">Vehicle claim</a>
                                                </li>
                                                <li>
                                                    <a href="{{scattred3d}}">Scattered</a>
                                                </li> 
                                                <li>
                                                    <a href="{{bubblePlot3d}}">Bubble</a>
                                                </li>  
                                            </ul>    
                                    </li>
                                </ul>     
                        </li>
                        <li style="display: none;">
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li style="display: none;">
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li style="display: none;">
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li style="display: none;" class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li style="display: none;" class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap"> 
                            <div class="form-header">
                                <input style="display: none;" class="au-input au-input--xl" type="text" name="search"
                                    placeholder="" />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </div>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity">1</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have 2 news message</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>Michelle Moreno</h6>
                                                    <p>Have sent a photo</p>
                                                    <span class="time">3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>Diane Myers</h6>
                                                    <p>You are now connected on message</p>
                                                    <span class="time">Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">john doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>                                                 
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">  
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row"></div>
                                <input type="file" name="myfile">
                                <button  class="btn btn-primary btn-sm"  type="submit">Upload</button>
                            </div>
                            <div style="height: 15px;"></div>
                            <div class="row"> 
                                <div class="col-lg-9">
                                    <h4 class="title-2 m-b-25">Data Columns and Data Type</h2>
                                    <div class="table-responsive table--no-card m-b-40">
                                        <table id="dataType" class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>Column Name</th>
                                                <th>Column Data type</th>
                                            </tr>
                                        </thead>  
                                        <tbody>      
                                            {% for data in dataTypes %}
                                            <tr> 
                                                <td>
                                                    {{data.colName}}
                                                </td>
                                                <td>
                                                    {{data.dataType}}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div style="height: 25px;"></div>
                            <div class="row">   
                                <div class="col-lg-12">
                                    <h4 class="title-2 m-b-25">Data from source</h2>
                                        <div class="table-responsive table--no-card m-b-40">
                                        <table id='csvData' class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr> 
                                                    {% for data in dataTypes %}
                                                    <th>
                                                        {{data.colName}}
                                                    </th> 
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k in df %}
                                                <tr> 
                                                {% for key, val in k.items %}
                                                
                                                    <td>{{ val }}</td>
                                            
                                                {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        </div>  
                                </div>
                            </div>
                            <div style="height: 25px;"></div>
                            <div class="row"> 
                                <div class="col-lg-12"> 
                                    <h4 class="title-2 m-b-25">describe all the numeric variables</h2>
                                        <div class="table-responsive table--no-card m-b-40">
                                            <table id='descData' class="table table-borderless table-striped table-earning">
                                                <thead>
                                                    <tr>                
                                                        <th></th> 
                                                        <th>count</th> 
                                                        <th>min</th> 
                                                        <th>max</th> 
                                                        <th>mean</th> 
                                                        <th>std</th>  
                                                        <th>25%</th>
                                                        <th>50%</th>
                                                        <th>75%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>           
                                                    {% for val in desc %}  
                                                    <tr>           
                                                        <td>{{ val.colName }}</td> 
                                                        <td>{{ val.count_val }}</td> 
                                                        <td>{{ val.min_val }}</td> 
                                                        <td>{{ val.max_val }}</td> 
                                                        <td>{{ val.mean_val }}</td> 
                                                        <td>{{ val.std_val }}</td> 
                                                        <td>{{ val.per25_val }}</td> 
                                                        <td>{{ val.per50_val }}</td> 
                                                        <td>{{ val.per75_val }}</td> 
                                                    </tr>            
                                                    {% endfor %}           
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
<!-- Vendor JS       -->
<script src="{% static 'vendor/slick/slick.min.js' %}">
</script>
<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
</script>
<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
</script>
<script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/select2/select2.min.js' %}">
</script>

<!-- Main JS-->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'jquery-3.5.1.js' %}"></script>
 <!-- Jquery JS-->
 <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'dataTables.min.js' %}"></script>
<!-- -->
<script type='text/javascript' >
    $(document).ready( function () { 
        $('#liDataV').click(function(){
            $('#sub_sub_menu').hide();
        });
        $('#csvData').DataTable({
            sDom: 'lrtip',
            "ordering": false,
            scrollY: 300,
            scrollX: true,
            scroller: true,
            paging:false,
            info:false
        });
        $('#descData').DataTable({
            sDom: 'lrtip',
            fixedColumns: {
                leftColumns: 1
            },
            "ordering": false,
            scrollY: 300, 
            scrollX: true,
            scroller: true,
            paging:false,
            info:false
        });
        $('#dataType').DataTable({
            sDom: 'lrtip',
            "ordering": false,
            scrollY: 300, 
            scroller: true,
            paging:         false,
            info:false
        });
    } );
</script>
</body>