{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div style="margin-left:auto;">  
    <form method="post" id="scnAnly" enctype="multipart/form-data">
        
            
                {% csrf_token %}
                <div class="col-lg-2">
       
                </div> 
                <div style="margin-left:auto;display: flex; justify-content:center;"> 
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                Scenario Analysis
                            </div>
                            <div class="card-body card-block" style="padding-bottom: 5;">
                                <div class="row" style="margin-left:auto;">  
                                    <div class="col-12 col-md-4"> 
                                       <input type="file" name="myfile" required>
                                    </div>
                                    <div class="col-12 col-md-1"> 
                                        <button  class="btn btn-primary btn-sm"  type="submit">Upload</button>
                                    </div>
                                    <div class="col-12 col-md-4"> 
                                        <select  id="selectFile" class="form-control">        
                                            <option value="Select">Select</option> 
                                            {% for data in scnFIles %}
                                                <option  value="{{data}}">{{data}}</option>
                                            {% endfor %}        
                                            </select>
                                    </div>
                                </div> 
                                <!-- <div class="row">   
                                    <div class="col-lg-12">
                                        <h4 class="title-2 m-b-25">Data from source</h2>
                                            <div class="table-responsive table--no-card m-b-40">
                                            <table id='csvData' class="table table-borderless table-striped table-earning">
                                                <thead>
                                                    <tr> 
                                                        {% for data in dataTypes %}
                                                        <th>
                                                            {{data.colName}}
                                                        </th> 
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for k in df %}
                                                    <tr> 
                                                    {% for key, val in k.items %}
                                                    
                                                        <td>{{ val }}</td>
                                                
                                                    {% endfor %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            </div>  
                                    </div>
                                </div> -->
                                <div style="height: 25px;"></div> 
                                <input type="text" value="{{imported}}" id="txtFileImp" style="display:none;"/>
                                <div class="row form-group"> 
                                    <div class="col-12 col-md-4" style="display: flex; justify-content: flex-start; margin-left:1px; margin-bottom:5px;"> 
                                        <div style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:0px;text-align:center;line-height:20px;">
                                            <img src="\static\images\addcomment.png" onclick="enableEdit()" title="Edit script" style="cursor:pointer;">
                                            <!-- <a href="#" style="color:black;"> &nbsp;<i class="fa fa-text-width" style="font-size: 12px;"  onclick="showTitles()" title="Add Title"></i> </a> -->
                                        </div> 
                                        
                                          
                                        <div style="display:none;border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:21px;">
                                            <img src="\static\images\cmt.png" title="Replication Comments" onclick="showReplicationComments()" style="cursor:pointer;">
                                        </div>  
                                        <div style="display:none;border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:21px;">
                                            <img src="\static\images\codeR.png" title="Code Review Comments" onclick="showCRComments()"  style="cursor:pointer;">
                                        </div> 
                                    </div>
                                    <div class="col-12 col-md-4"   style="display: flex; justify-content:center; margin-left:1px; margin-bottom:5px;"> 
                                        <div style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <img src="\static\images\save.png" onclick="addToReport()" title="Save" style="cursor:pointer;">
                                            
                                        </div> 
                                        <input type="text" style="border-color: black;display: none;" id="txtCodeFile" value="{{scriptFile}}"  class="form-control-sm form-control">
                                        <div  style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <img src='\static\images\play.png'  title="Run" style='cursor:pointer;' onclick="runReplication()"/>
                                        </div>   
                                        <!-- <div  style="display:none;border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <img src='\static\images\reference.png'  title="References" style='cursor:pointer;' onclick="showReferences()"/>
                                        </div>     -->
                                    </div>
                                    <div class="col-12 col-md-4"   style="max-width: 33%;display: flex; justify-content: flex-end; margin-left:1px; margin-bottom:5px;"> 
                                        <div style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <img src="\static\images\error.png" title="Errors" style="cursor:pointer;">
                                        </div>
                                        <div style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <img src="\static\images\addimage.png" onclick="showImages()" title="Output" style="cursor:pointer;">
                                            <!-- <a href="#"  style="color:black;" onclick="showImages()" > &nbsp;<i class="fa fa-picture-o" style="font-size: 12px;" title="Insert picture"></i> </a> -->
                                        </div>
                                        <div style="display:none;border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <img src='\static\images\previewcomment.png' onclick="showRptPrv()" title="Preview" style='cursor:pointer;'/>
                                            <!-- <a href="#"  style="color:black;" onclick="showRptPrv()"> &nbsp;<i class="fa fa-check-square-o" style="font-size: 12px;" title="Preview"></i> </a> -->
                                        </div> 
                                        <!-- <div style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <img src='\static\images\save.png' onclick="generateReport()" title="Save" style='cursor:pointer;'/>
                                            to be commented <a href="#"  style="color:black;" onclick="generateReport()"> &nbsp;<i class="fa fa-save" style="font-size: 12px;" title="Save"></i> </a> 
                                        </div>   -->
                                        <div  style="display:none;border:solid 1px #b0acab; width: 24x;height:24px; margin-left:4px;text-align:center;line-height:20px;">
                                            <a href="{{ pdfFile }}" style="color:black;width:20px"  download id="downRpt" target="_blank"> <img src='\static\images\download.png'  title="Export to pdf" style='cursor:pointer;' /> </a>
                                        </div>
                                        <div  style="display:none;border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">   
                                            <img src='\static\images\processstatus.png' onclick="showProcess()" title="Process status"  style='cursor:pointer;'/>
                                        </div>
                                        <div  style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;text-align:center;line-height:20px;">   
                                            <img src='\static\images\help.png' title="Help"  style='cursor:pointer;'/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">  
                                    <div class="col-12 col-md-12">
                                            <textarea id="txtComments" rows="15" spellcheck="false" style="resize: none;width: 100%;font-size: 11pt;padding: 0px 20px;" disabled class="form-control form-control-sm">{{data}}</textarea>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-footer">  
                                <div class="row" style="display: flex; justify-content: flex-end">  
                                    <button  class="btn btn-primary btn-sm"    onclick="goNext()" style="margin-left: 10px;" type="button">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>  
                 
                <div id="divImg" title="Script Output" style="display: none;width:70%">
                    <div style="width:100%"> 
                            
                        <div class="row form-group" style="display: none;"> <!-- to be uncommented -->
                            <div class="col-12 col-md-2" style="max-width: 10%;padding-right: 0px;"> 
                                Image <a   href="" download id="downChartRpt" target="_blank" style="display: none;color: Red; margin-left:10px"> 
                                    <i class="fa fa-external-link"  style="font-size: 12px;"></i> </a>
                            </div>
                            <div class="col-12 col-md-3"> 
                                <select  id="selectImg" class="form-control" style="height: 30px;" onchange="getImg()">        
                                    <option value="Select">Select</option> 
                                    {% for data in imgFiles %}
                                        <option  value="\static\scenarioOutput\{{data}}">{{data}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group"> 
                            <div class="col-12 col-md-2" style="max-width: 10%;padding-right: 0px;"> 
                                Scenario  
                            </div>
                            <div class="col-12 col-md-3"> 
                                <select  id="selectFile2" class="form-control">        
                                    <option value="Select">Select</option> 
                                    {% for data in scnOutFiles %}
                                        <option  value="{{data}}">{{data}}</option>
                                    {% endfor %}        
                                </select>
                            </div> 

                            
                            <div class="col-12 col-md-2" style="max-width: 10%;padding-right: 0px;"> 
                                Chart  
                            </div>
                            <div class="col-12 col-md-3"> 
                                <select  id="selectChart" class="form-control" style="height: 30px;" onchange="disableY()">        
                                    <option value="Select">Select</option> 
                                    <option value="Data">Data</option> 
                                    <option value="Hist">Histogram</option> 
                                    <option value="Scattered">Scatter</option>  
                                </select>
                            </div> 
                        </div>
                        <div class="row form-group"> 
                            <div class="col-12 col-md-2" style="max-width: 10%;padding-right: 0px;"> 
                                X-axis 
                            </div>
                            <div class="col-12 col-md-3"> 
                                <select  id="selectCols" class="form-control" style="height: 30px;">        
                                    <option value="Select">Select</option> 
                                    {% for data in cols %}
                                        <option  value="{{data.colName}}">{{data.colName}}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div class="col-12 col-md-2" style="max-width: 10%;padding-right: 0px;"> 
                                Y-axis  
                            </div>
                            <div class="col-12 col-md-3"> 
                                <select  id="selectCols2" class="form-control" style="height: 30px;">        
                                    <option value="Select">Select</option> 
                                    {% for data in cols %}
                                        <option  value="{{data.colName}}">{{data.colName}}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div class="col-12 col-md-2" style="max-width: 10%;padding-right: 0px;"> 
                                <button type="button" class="btn btn-primary btn-sm"  onclick="getQDHist()">Show</button>
                            </div>
                
                        </div>
                        <div class="row form-group"> 
                            <div class="col-12 col-md-1"> 
                            </div>
                            <div class="col-12 col-md-10"> 
                                <div class="table-responsive table--no-card m-b-40" style="height: 400px;"> 
                                    <table id='csvData' style="display: none;height: 400px;" class="table table-borderless table-striped table-earning">
                                        <thead><tr> <th>service_class_code</th><th>sender_company_name</th><th>sender_company_description</th><th>standard_entry_class</th><th>transaction_type</th><th>merchant_address_city</th><th>merchant_address_street_address</th><th>dd_label</th></tr></thead>
                                        <tbody> 
                                            <tr> <td>service_class_code</td><td>sender_company_name</td><td>sender_company_description</td><td>standard_entry_class</td><td>transaction_type</td><td>merchant_address_city</td><td>merchant_address_street_address</td><td>dd_label</td></tr>
                                        </tbody>
                                    </table>
                                    </div>  
                                <img id="imgGraph" src="" style="height: 400px;width:100%;display: none;"> 
                            </div> 
                        </div>
                        
                   </div> 
                </div>
                <div  title="Running Script File"  style="display: none;background-color: inherit" id="divRptProgress">
                    <div style="text-align: center;background-color: inherit">Processing request...</div>
                    <div class="progress mb-3"  >                       
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div id="divReplicationComment" title="Add Comments - Replication" style="display: none;width:70%">
                    <div style="width:100%">
                        
                        <textarea id="txtReplicationcomment" rows="5" style="resize: none; border:1px solid black;width:100%;" class="form-control form-control-sm">{{userComments}}</textarea>
                   </div> 
                </div>
                <div id="divCRComment" title="Add Comments - Code Review" style="display: none;width:70%">
                    <div style="width:100%"> 
                            
                        <div class="row form-group"> 
                             
                            <div class="col-12 col-md-4"> 
                                <select  id="selectCROpt" class="form-control" style="height: 30px;" onchange="getsavedCRComm()">        
                                    <option value="Select">Select</option>                     
                                    <option  value="1">Comments</option>
                                    <option  value="2">Consistency</option>
                                    <option  value="3">Design</option>
                                    <option  value="4">Error and Warning Handling</option>
                                    <option  value="5">Functionality</option>
                                    <option  value="6">Hard Coding</option> 
                                    <option  value="7">Repeated Codes</option>
                                    <option  value="8">Run-time Algorithms</option>
                                    <option  value="9">Safe Parallel Programming</option>
                
                
                                     
                                </select>
                            </div>
                            <div  style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;margin-top:4px;text-align:center;line-height:20px;">   
                                <img src='\static\images\help.png' title="Help" onclick="showCRHelp()"  style='cursor:pointer;'/>
                            </div>
                            <div  style="border:solid 1px #b0acab; width: 24px;height:24px; margin-left:4px;margin-top:4px;text-align:center;line-height:20px;">   
                                <img src='\static\images\previewcomment.png' title="Help" onclick="getAllCRComments()"  style='cursor:pointer;'/>
                            </div>
                        </div>
                        <div style="width:100%">        
                            <textarea id="txtCRcomment" rows="5" style="resize: none; border:1px solid black;width:100%;" class="form-control form-control-sm" ></textarea>
                       </div>
                        
                   </div> 
                </div>
                <div id="divCRHelp" title="Help - Code Review" style="display: none;width:70%">
                    <div style="height: 500px;overflow:auto" id="divCRHelpData"> 
                    
                        
                   </div> 
                </div>
                
                <div id="divCRAllComments" title="Comments - Code Review" style="display: none;width:70%">
                    <div style="height: 500px;overflow:auto" id="divCRAllCommentsData"> 
                    
                        
                   </div> 
                </div>
                
              </form>
            </div>
                        {% endblock content %}
{%  block script %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'dataTables.min.js' %}"></script><script type='text/javascript' >
        $(document).ready( function () {  
            if($('#txtFileImp').val().trim().length>0)
                alert($('#txtFileImp').val());
         /*$('#csvData').DataTable({
            sDom: 'lrtip',
            "ordering": false,
            scrollY: 450,
            scrollX: true,
            scroller: true,
            paging:false,
            info:false
            });  */
            
        } );

        let refnum=0;  
        window.onload=function(){ 
            $('#txtComments').css("height",($(document).height()*0.5)+"px");
           //document.addEventListener('contextmenu', event => event.preventDefault());
           divId='nodiv'
            $('.blob').click(function(e){  
                screenY=e.pageY;
                screenX= e.pageX;  
                $("#divDocComments").css({top:screenY-25, left:screenX+20   , position:'absolute'});      
               });
            $('#tblDocs').DataTable({
                sDom: 'lrtip',
                "ordering": false,
                scrollY: 280, 
                scroller: true,
                paging:         false,
                info:false
                });
            document.getElementById('txtComments').addEventListener('keydown', function(e) {
              if (e.key == 'Tab') {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
            
                // set textarea value to: text before caret + tab + text after caret
                this.value = this.value.substring(0, start) +
                  "\t" + this.value.substring(end);
            
                // put caret at right position again
                this.selectionStart =
                  this.selectionEnd = start + 1;
              }
            });
        };
    
        function enableEdit(){
            $("#txtComments").prop('disabled', false);
        }
        
        function runReplication(pol,ref){
            if($("#selectFile").val()=="Select")
           {
               alert('Please select file.');
               return false
           }
            $("#divRptProgress").dialog({   
                width: "70%",   
                modal: true, 
                height:150,
            });
           
            $.ajax({
                url: '/runScnFile/', 
                data:{ replicationFile: $('#txtCodeFile').val() ,scnFile:$('#selectFile').val()},
                dataType: 'json',
                success: function (data) {
                    $('#divRptProgress').dialog("close") 
                    if(data.is_taken)
                    { 
                        $('#selectImg option').remove();    
                        $('#selectImg').append(new Option("Select Image","0")); 
                        for(var x in data.imgFiles){ 
                            $('#selectImg').append(new Option(data.imgFiles[x],'\\static\\scenarioOutput\\'+data.imgFiles[x]));                        
                        }  
    
                        $('#selectCols option').remove();    
                        $('#selectCols').append(new Option("Select Column","0")); 
                        for(var x in data.cols){ 
                            $('#selectCols').append(new Option(data.cols[x].colName,data.cols[x].colName));                        
                        }  
    
                        $('#selectCols2 option').remove();    
                        $('#selectCols2').append(new Option("Select Column","0")); 
                        for(var x in data.cols){ 
                            $('#selectCols2').append(new Option(data.cols[x].colName,data.cols[x].colName));                        
                        }  
                       // $('#selectFile2').append(new Option('labeled_'+$('#selectFile').val(),'labeled_'+$('#selectFile').val())); 
                       $('#selectFile2 option').remove();    
                        $('#selectFile2').append(new Option("Select","Select")); 
                        for(var x in data.scnOutFile){ 
                            $('#selectFile2').append(new Option(data.scnOutFile[x],data.scnOutFile[x]));                        
                        }  
                        alert('Script file executed.')       
                    }  
                    else{
                        alert(data.error)
                    }  
                }
            });
            
                //alert((policy+ ' ,' +reference)) 
            $("#divReferences").dialog("close");
        }
     
        function addToReport(){ 
           // $('#downRpt').onclick = function(){ console.log('clicked')};
           if($("#txtComments").val().trim().length>0){
                
                 
                varComment =$("#txtComments").val() 
                /*$.ajax({ 
                url: '/saveReplicationData/',
                data:{'comment': varComment},
                dataType: 'json',
                success: function (data) {
                        if(data.is_taken)
                        { 
                            
                            alert('Comment saved successfully.')                    
                        }   
                }
                }); */
                comment = encodeURIComponent(varComment);
                var csrftoken = $("[name=csrfmiddlewaretoken]").val(); 
                var x = new XMLHttpRequest();
                x.open("POST","/saveScnData/",true);
                x.setRequestHeader("Content-Type", 'text/plain'); 
                x.setRequestHeader( "X-CSRFToken",csrftoken);  
                var data = JSON.stringify({"comment":varComment});
                //x.send('{"comment":"'+comment+'"}');
                x.onreadystatechange = function () { 
                    if (x.readyState == 4 && x.status == 200) {
                        var json = JSON.parse(x.responseText);
                        console.log(json.is_taken + ", " + json.codeFile)
                        if(json.is_taken)
                        {
                            $('#txtCodeFile').val(json.codeFile);
                            alert('Code file saved.')
                        }
                            
                    }
                }
                x.send(data)
                
            }
            else{
                alert('Please enter text.')
            }
           
        }  
    
        function showImages()
        {  
            $("#divImg").dialog({   
                width: "70%",   
                modal: true,
                buttons:             /* Save: function() {
                    $(this).dialog("close");
                    } */ [
                    
                    {
                        text: "Cancel",
                        "class": 'btn btn-primary btn-sm',
                        click: function() {
                            // Save code here
                            $(this).dialog("close");
                        }
                    }
                ],  
            }); 
        }
    
        function resizeImg(per){
            //alert(per)
            $('#imgGraph').css("transform", "scale("+ (per/100) +")");
            $('#imgGraph').css('transform-origin','0px 0px');
        }
     
        function getImg(){
            $("#imgGraph").attr("src",$("#selectImg").val()); 
            //$("#downChartRpt").attr('href', "\\"+ $("#selectImg").val().replace('.png','.pdf'));
            
        }

        function disableY(){
            if($("#selectChart").val()=='Hist'){
                $("#selectCols2").prop('disabled',true)
                $("#selectCols").prop('disabled',false) 
            }
            else if($("#selectChart").val()=='Data'){
                $("#selectCols2").prop('disabled',true)
                $("#selectCols").prop('disabled',true) 
            }
            else {
                $("#selectCols2").prop('disabled',false);
                $("#selectCols").prop('disabled',false) 
            }
        }
    
        function getQDHist(){
           if($('#selectFile2').val()=="Select" || $("#selectChart").val()=="Select")
           {
               alert('Please select file.')
           }
           else if($("#selectChart").val()=="Select")
           {
               alert('Please select output type.')
           }
           $("#imgGraph").attr("src",''); 
           $.ajax({ 
            url: '/showScnPlot/',
            data:{'selCol':$("#selectCols").val() ,'selCol2':$("#selectCols2").val(),'chartType':$("#selectChart").val(),scnFile:$('#selectFile2').val() },
            dataType: 'json',
            success: function (data) {
                    if(data.is_taken)
                    {
                        if($("#selectChart").val()=="Data"){
                            getColVals(data.csvdata);
                            $('#csvData').show();
                            $('#imgGraph').hide(); 
                        }
                        else{
                            $("#imgGraph").attr("src",data.graphpath);
                            $('#imgGraph').show(); 
                            $('#csvData').hide();
                        }
                    }            
            }
        });  
        }
     
        function getColVals(data)
    {
       // alert(id.split('chk_')[1]);
       // $('#csvData').DataTable().destroy();
        $("#csvData").empty();
        console.log(data);    
        var appendHeaderData1='';
        var appendBodyData='',
        appendHeaderData1='<thead><tr> '; 
        appendBodyData='<tbody>'
        var irow=0;   
        
       
        $.each(data,function(key,val){ 
            appendBodyData=appendBodyData+'<tr>'; 
            $.each(val,function(key2,val2){ 
                if(irow==0)
                    appendHeaderData1=appendHeaderData1+'<th  style="padding-top:10px;padding-bottom:10px;">'+key2+'</th>'; 
                appendBodyData=appendBodyData+'<td  style="padding-top:10px;padding-bottom:10px;">'+val2+'</td>'; 
                
           
            });
            appendBodyData=appendBodyData+'</tr>';
            irow++
            /*appendBodyData=appendBodyData+'<tr>';
            appendBodyData=appendBodyData+'<td>'+key+'</td>'; 
            appendBodyData=appendBodyData+'<td><input type="text" id="txt_'+key+'" style="border:1px solid black"/> </td>';                    
            appendBodyData=appendBodyData+'</tr>';  */              
        });
        appendBodyData=appendBodyData+'</tbody>';   
        appendHeaderData1=appendHeaderData1 + '</tr></thead>';
        console.log('appendHeaderData1 ',appendHeaderData1)
        $('#csvData').append(appendHeaderData1+appendBodyData); 
        /*colDtTbl=$('#csvData').DataTable({
            sDom: 'lrtip', 
            "ordering": false,
            scrollY: 450,
            scrollX: true,
            scroller: true,
            paging:false,
            info:false
            });*/
    }

    function goNext(){
        window.location="{% url 'impCtrl' %}"
} 

    </script>
{% endblock script %} 