<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow"> 
</head>

<body>
  <table>
    <tr> 
      <td><img src="\static\media\user1Chartimgs\image for report.png"/></td>
      <td><img src="\static\media\user1Chartimgs\strip com.png"/></td>
    </tr> 
  </table>
  <div>
    <object data="\static\reportTemplates\Model Validation Report Template.docx" type="application/msword" width="300" height="200">
    PDF : <a href="\static\reportTemplates\Model Validation Report Template.docx">test.pdf</a>
    </object>
</div>

</body>

</html>