{% extends 'base2.html' %} 
{% load static %} 
{% block style %} 
<link href="{% static 'datepicker/datepicker3.css' %}" rel="stylesheet" media="all">
{% endblock style %}
{% block content %}

<div style="margin-left:auto;display: flex; justify-content:center;">         
            
                {% csrf_token %}
                
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            {{header}} 
                        </div>
                        <div class="row form-group" style="margin: 20px;">
                            <div class="col col-md-12"> 
                                <!-- <div class="table-responsive table--no-card m-b-40">
                                    <table id="contacts" class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr> 
                                                <th style='padding-top:10px;padding-bottom:10px;'>Title</th> 
                                                <th style='padding-top:10px;padding-bottom:10px;'>Comment</th>    
                                            </tr>
                                        </thead>  
                                        <tbody>
                                        {% for data in resultConcSnd %} 
                                                <tr> 
                                                    <td style='padding-top:10px;padding-bottom:10px;'></td>                                                                            
                                                    <td style='padding-top:10px;padding-bottom:10px;'><textarea id="txtComments" rows="4" style="resize: none;width: 100%;font-size: 10pt;" readonly  class="form-control form-control-sm"></textarea></td> 
                                                </tr> 
                                        {% endfor %}
                                        </tbody>
                                       </table>
                                </div> -->
                                {% for data in resultConcSnd %} 
                                    <div class="row form-group" style="padding-bottom:0px;margin-bottom:0px;padding-top:0px;margin-top:0px;"> 
                                    <div class="col col-md-12">
                                      <label class=" form-control-label">{{data.title}}
                                      </label>
                                  </div>
                                  </div>
                                  <div class="row form-group" style="padding-bottom:0px;margin-bottom:10px;padding-top:0px;margin-top:0px;"> 
                                      <div class="col-12 col-md-12">
                                           <textarea id="txtComments" rows="5" style="resize: none;width: 100%;font-size: 10pt;" class="form-control form-control-sm" readonly>{{data.comment}}</textarea>
                                      </div>
                                  </div>
                                {% endfor %}
                            </div> 
                        </div>
                    </div> 
                </div>
                 
            </div>
                        {% endblock content %}
{%  block script %}  
<script src="{% static 'jquery-3.5.1.js' %}"></script>
<script src="{% static 'datepicker/bootstrap-datepicker.js' %}"></script> 

<script type="text/javascript">
    $(document).ready(function () {
        myTable=$('#contacts').DataTable({
            sDom: 'lrtip',
            "ordering": false,
            scrollY: "450", 
            scroller: true,
            paging:         false,
            info:false, 
            });  

        $('#contacts tbody').on('dblclick', 'tr', function () {
            var data = myTable.row( this ).data();
                $("#txtPolicy").val(data[1] );
                $("#txtReference").val(data[2] );
                $("#txtPolicyIdx").val(data[0] );
            } );
    });

    function updateContact(){
        $.ajax({
            url: '/updatePolicy/', 
            data:{ policy: $("#txtPolicy").val(),reference:$("#txtReference").val(),policyIdx:$("#txtPolicyIdx").val()   },
            dataType: 'json',
            success: function (data) {
               // alert(data)
               if(data.is_taken){
                   alert('Policy updated successfully.');
                   $( "#target" ).submit();
               }
            }
        });
    }

    function enableSave(){
        if($('#txtReference').val().trim().length>0 && $('#txtPolicy').val().trim().length>0){
            $('#btnSave').attr('disabled',false);
        }
        else{
            $('#btnSave').attr('disabled',true);
        }
    }
 </script>
{% endblock script %} 