{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div style="margin-left:auto;">  
    <form method="post" enctype="multipart/form-data">      
            
                {% csrf_token %}    
                    <div class="col-lg-12">
                        <h4 class="title-2 m-b-25">Data from source</h2>
                            <div class="table-responsive table--no-card m-b-40">
                            <table id='csvData' class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr> 
                                        {% for data in dataTypes %}
                                        <th>
                                            {{data.colName}}
                                        </th> 
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k in df %}
                                    <tr> 
                                    {% for key, val in k.items %}
                                    
                                        <td>{{ val }}</td>
                                
                                    {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>  
                    </div>                 
              </form>
            </div>
                        {% endblock content %}
{%  block script %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'jquery-3.5.1.js' %}"></script>
<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'dataTables.min.js' %}"></script>
    <script type='text/javascript' >
        $(document).ready( function () {  
            $('#csvData').DataTable({
            sDom: 'lrtip',
            "ordering": false,
            scrollY: 500,
            scrollX: true,
            scroller: true,
            paging:false,
            info:false
            }); 
        } );
    </script>
{% endblock script %} 