<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
	  <clear/>
      <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\admin\.virtualenvs\Django_app-S3qFy9S4\Scripts\python.exe|D:\Projects\python\Django_app\manage.py winfcgi --pythonpath=D:\Projects\python\Django_app" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
